[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
python-dotenv = "*"
psycopg2 = "*"
cryptography = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

alembic = "*"
SQLAlchemy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
